*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* font-family: 'Roboto', sans-serif; 300, 400, 700, 900 */
    font-family: "Ubuntu", sans-serif; /* 400, 500, 700 */
    color: #333;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.icon {
    display: inline-block;
    width: 1rem;
    height: 1rem;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

.nav {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10rem;
    align-items: center;
    justify-content: space-between;
}

.nav__box {
    display: flex;
    align-items: center;
}

.nav__logo {
    background-color: #fff;
    width: 35rem;
    height: 100%;
    padding: 2rem;
    text-align: center;
}

.nav__logo-text {
    font-size: 4.5rem;
    font-weight: 900;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.nav__logo-subtext {
    font-size: 1.3rem;
    text-transform: uppercase;
    text-align: center;
    padding: 0 0 0 9rem;
    margin-top: -1rem;
}

.nav__phone {
    /* padding: 0 0 0 10rem; */
}

.nav__phone-link {
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 700;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 1.7rem 3.2rem;
    box-shadow: inset 0 0 0 0 #fff;
    transition: ease 0.6s;
}

.nav__phone-link:hover {
    box-shadow: inset 25rem 0 0 0 #fff;
    color: #333;
}

.nav__menu {
    display: flex;
    padding: 0 10rem 0 0;
}

@media (max-width: 1200px){
    .nav__menu{
        display:none;
    }
}

.nav__item {
    list-style: none;
    display: inline-block;
    position: relative;
}

.nav__link {
    text-decoration: none;
    font-size: 1.5rem;
    padding: 1rem 2rem;
    font-weight: 700;
    color: #fff;
    /* text-transform: uppercase; */
    transition: 0.3s;
}

.nav__link::before {
    content: "";
    position: absolute;
    width: 100%;
    bottom: -3px;
    left: 0;
    border-bottom: 2px solid #fff;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.nav__link:hover:before {
    visibility: visible;
    transform: scaleX(0.8);
}

.nav__link:hover {
    color: #fff;
}

.hero {
    display: flex;
    height: 100vh;
}

.hero__social {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #fff;
    width: 6rem;
    height: 100vh;
}

.hero__social-text {
    display: inline-block;
    transform: rotate(-90deg);
    white-space: nowrap;
    font-size: 1.3rem;
    font-weight: 400;
    letter-spacing: 0.7rem;
    color: #999;
    text-transform: uppercase;
}

.hero__slider {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 900;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../img/room1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

.hero__text {
    font-size: 2rem;
    padding: 0 0 4rem 0;
    text-align: center;
}

.hero__heading {
    font-size: 6rem;
    text-align: center;
    font-weight: 400;
    padding: 0 0 8rem 0;
    margin: 0 auto;
}

.hero__heading--size {
    font-size: 7rem;
    font-weight: 900;
}

.hero__btn-link {
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 700;
    border: 1px solid rgba(255, 255, 255, 0.25);
    padding: 1.7rem 3.2rem;
    transition: ease 0.6s;
}

.hero__btn-link:hover {
    box-shadow: inset 25rem 0 0 0 #fff;
    color: #333;
}

@media (max-width: 1000px) { 
    .nav{
        height: 6.9rem;
    }
    .hero__heading {
        font-size: 4rem;
        padding: 0 0 5rem 0;
    }

    .hero__text {
        font-size: 2rem;
        padding: 0 0 2rem 0;
    }
    
    .hero__heading--size {
        font-size: 5rem;
    }
    .hero__social{
        display: none;
    }
    .nav__logo {
        width: 20rem;
        padding: 1rem;
    }
    .nav__logo-text {
        font-size: 3.5rem;
    }
    
    .nav__logo-subtext {
        font-size: 1.2rem;
        text-align: center;
        padding: 0 0 0 5.7rem;
    }
}

@media (max-width: 850px) and (orientation: landscape){ 
    .hero__text{
        padding: 5rem 0 2rem 0;
    }

    .hero__heading {
        font-size: 3rem;
    }
    
    .hero__heading--size {
        font-size: 4rem;
    }
    .hero__btn-link {
        padding: 1.2rem 2.7rem;
    }
    .nav__phone-link {
        padding: 1.2rem 2.7rem;
    }
}

@media (max-width: 600px) and (orientation: landscape){
    .nav{
        height: 5.2rem;
    }
    .nav__logo {
        width: 15rem;
        padding: 0.5rem;
    }
    .nav__logo-text {
        font-size: 3rem;
    }
    
    .nav__logo-subtext {
        font-size: 1rem;
        padding: .2rem 0 0 5rem;
    }
}

@media (max-width: 500px) and (orientation: portrait){
    .nav__phone{
        display: none;
    }
    .hero__heading {
        font-size: 3rem;
        padding: 0 2rem 5rem 2rem;
    }
    
    .hero__heading--size {
        font-size: 4rem;
    }
    .nav{
        height: 5.2rem;
    }
    .nav__logo {
        width: 15rem;
        padding: 0.5rem;
    }
    .nav__logo-text {
        font-size: 3rem;
    }
    
    .nav__logo-subtext {
        font-size: 1rem;
        padding: .2rem 0 0 5rem;
    }
}

.about {
    padding: 4rem 0;
    margin: 0 auto;
    width: 80%;
}

.about__title {
    font-size: 4rem;
    text-align: center;
    font-weight: 300;
    padding: 0 0 6rem 0;
}

.about__title--size {
    font-size: 5rem;
    font-weight: 700;
}

.about__box {
    display: flex;
    align-items: center;
}

.about__info {
    width: 50%;
    padding: 0 8%;
    text-align: justify;
}

.about__text {
    padding: 1rem 0;
    font-size: 1.5rem;
    color: #888;
    line-height: 3rem;
    letter-spacing: 0.1rem;
}

.about__text--size {
    font-size: 2rem;
    font-weight: 900;
    color: #333;
    line-height: normal;
    letter-spacing: normal;
}

.about__items {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 50%;
}

.about__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 27.3%;
    height: 20rem;
    background-color: #f7f7f7;
    margin: 2% 2% 0 0;
    font-size: 1.8rem;
    padding: 3rem;
}

.about__icon {
    width: 3.5rem;
    height: 3.5rem;
    color: #cfcfcf;
}

.about__number{
    font-size: 4rem;
}

@media (max-width: 1500px) and (orientation: landscape){
    .about{
        width: 100%;
    }
    .about__info{
        width: 45%;
    }
    .about__items{
        width: 55%;
    }
    
}

@media (max-width: 1100px) and (orientation: landscape){
    .about__info{
        padding: 0 5%;
    }
    .about__item {
        width: 40.3%;
        height: 17rem;
        padding: 2rem;
    }
    .about__icon {
        width: 3rem;
        height: 3rem;
    }
    .about__title {
        font-size: 3rem;
    }
    .about__title--size {
        font-size: 4rem;
    }
}

@media (max-width: 750px) and (orientation: landscape){
    .about__box {
        flex-direction: column;
    }
    .about__info{
        width: 90%;
    }
    .about__items{
        width: 90%;
    }
    .about__item{
        width: 30.3%;
    }
}

@media (max-width: 550px) and (orientation: landscape){
    .about__title {
        font-size: 2.5rem;
        padding: 0 0 4rem 0;

    }
    .about__title--size {
        font-size: 3.5rem;
    }
    .about__items{
        width: 100%;
    }
}

@media (max-width: 1100px) and (orientation: portrait){
    .about{
        width: 90%;
    }
    .about__info{
        padding: 0 2%;
        width: 45%;
    }
    .about__items{
        width: 55%;
    }
    .about__item {
        width: 40.3%;
        height: 17rem;
        padding: 2rem;
    }
    .about__icon {
        width: 3rem;
        height: 3rem;
    }
    .about__title {
        font-size: 3rem;
    }
    .about__title--size {
        font-size: 4rem;
    }
}

@media (max-width: 800px) and (orientation: portrait){
    .about__box {
        flex-direction: column;
    }
    .about__info{
        width: 90%;
    }
    .about__items{
        width: 90%;
    }
    .about__item{
        width: 30.3%;
    }
}

@media (max-width: 600px) and (orientation: portrait){
    .about__info{
        width: 100%;
    }
    .about__items{
        width: 100%;
    }
    .about__item{
        width: 48%;
    }
}

.description{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 15rem auto;
    width: 70%;
    background-color: #f7f7f7;
}

.description__title{
    font-size: 4rem;
    font-weight: 300;
    padding: 0 0 4rem 0;
}

.description__title--size{
    font-weight: 700;
    font-size: 5rem;
}

.description__list{
    padding: 0 0 2rem 0;
    
}

.description__item{
    margin: 0 0 0 3rem;
    list-style: circle;
    text-align: justify;
}

.description__img{
    width: 50%;
}

.description__image{
    margin: -10% 0 -10% 10%;
    width: auto;
    height: 100%;
}

.description__box{
    margin: 2rem 4rem 0 0rem;
    font-size: 1.5rem;
    width: 50%;
    z-index: 1;
}

@media (max-width: 1500px) and (orientation: landscape){
    .description{
        width: 90%;
    }
}

@media (max-width: 1100px) and (orientation: landscape){
    .description{
        margin: 5rem auto;
    }
    .description__title{
        font-size: 3rem;
    }
    .description__title--size{
        font-size: 4rem;
    }
    .description__image{
        opacity: .2;

    }
    .description__img{
        width: 30%;
    }
    .description__box{
        margin: 2rem 4rem 0 0rem;
        font-size: 1.5rem;
        width: 70%;
    }
}

@media (max-width: 800px) and (orientation: landscape){
    .description{
        justify-content: center;
    }
    .description__title{
        text-align: center;
    }
    .description__box{
        margin: 2rem 0 0 0;
        width: 90%;
    }
    .description__img{
        display: none;
    }
}

@media (max-width: 1100px) and (orientation: portrait){
    .description__image{
        margin: -5% 0 -5% 5%;
    }
    .description{
        width: 90%;
    }
    .description__title{
        font-size: 3rem;
    }
    .description__title--size{
        font-size: 4rem;
    }
}

@media (max-width: 1024px) and (orientation: portrait){
    .description{
        margin: 5rem auto;
    }
    .description__img{
        width: 30%;
        opacity: .2;
    }
    .description__box{
        width: 70%;
    }
}

@media (max-width: 600px) and (orientation: portrait){
    .description{
        justify-content: center;
    }
    .description__img{
        display: none;
    }
    .description__box{
        width: 90%;
        text-align: justify;
        margin: 2rem 0 0 0;
    }
    .description__title{
        text-align: center;
    }
}

.rent{
    display: flex;
    justify-content: space-around;
    padding: 5rem 0;
    margin: 0 auto;
    width: 70%;

}

.rent__price{
    padding: 3rem;
    background-color: #f7f7f7;
}

.rent__rules{
    padding: 3rem;
    background-color: #f7f7f7;

}

.h2-title{
    font-size: 4rem;
    font-weight: 300;
    padding: 0 0 4rem 0;
}

.rent-text{
    font-size: 1.5rem;
    line-height: 3rem;
}

.rent-text--size{
    font-size: 3rem;
    font-weight: 900;
}

.rent__item{
    display: flex;
    align-items: flex-start;
}

.rent__icon{
    width: 2rem;
    height: 2rem;
    margin: .5rem 1rem 0 0;
    color: #cfcfcf;
}

@media (max-width: 1500px) {
    .rent{
        width: 90%;
    }
}

@media (max-width: 700px) {
    .rent{
        flex-direction: column;
    }
    .h2-title{
        font-size: 3rem;
    }
}

@media (max-width: 500px) {
    .h2-title{
        text-align: center;
    }
}

.gallery {
    /* width: 70%; */
    padding: 10rem 15%;
    margin: 0 auto;
    background-color: #f7f7f7;
}

.gallery__title {
    font-size: 4rem;
    text-align: center;
    font-weight: 300;
    padding: 0 0 6rem 0;
}

.gallery__title--size {
    font-size: 5rem;
    font-weight: 700;
}

.nGY2Icon-ccw:before,
.nGY2Icon-cw:before,
.nGY2Icon-resize-full:before,
.nGY2Icon-ellipsis-vert:before,
.nGY2Icon-play:before,
.nGY2 .toolbar {
    content: "";
}

.nGY2 .toolbarBackground{
    background: red;
}

@media (max-width: 1500px) {
    .gallery {
        padding: 7rem 5% 7rem 5%;
}
}
@media (max-width: 1050px) {
    .gallery {
        padding: 5rem 3% 5rem 3%;
}
}
.area{
    display: flex;
    background-color: #333;
    color: #888;
    justify-content: center;
    font-size: 1.5rem;
    text-align: justify;
}

.area__left{
    margin: 3rem;
    padding: 1rem 0 1rem 1rem;
    width: 40%;
    border-left: 3px solid #888;
}

.area__right{
    margin: 3rem;
    padding: 1rem 0 1rem 1rem;
    width: 40%;
    border-left: 3px solid #888;
}

@media (max-width: 900px) {
    .area{
        flex-direction: column;
    }
    .area__left{
        width: 90%;
        padding: 0 2rem 0 1rem;
        margin: 2rem 3rem 1rem 3rem;
        text-align: justify;
    }
    .area__right{
        width: 90%;
        padding: 0 2rem 0 1rem;
        margin: 2rem 3rem 1rem 3rem;
        text-align: justify;
    }
}

.contact {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: #333;
}

.contact__map {
    width: 65%;
}

.contact__info {
    width: 35%;
}

.contact__text {
    font-size: 2.5rem;
    font-weight: 900;
    padding: 2.5rem 0 1rem;
    color: #fff;
}

.contact__subtext {
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
}

.contact__item {
    display: flex;
    width: 30rem;
    margin: 0 auto;
}

.contact__icon {
    color: #fff;
    width: 4rem;
    height: 4rem;
    margin: 2.5rem 2rem 0 0;
}

@media (max-width: 1024px) {
    .contact {
        justify-content: space-between;
    }
    .contact__text {
        font-size: 2rem;
    }
    
    .contact__subtext {
        font-size: 1.5rem;
    }
    .contact__icon {
    width: 3rem;
    height: 3rem;
    }
    .contact__item {
        width: 25rem;   
    }
}

@media (max-width: 1000px) {
    .contact{
        flex-direction: column-reverse;
    }
    .contact__info {
        display: flex;
        width: 90%;
        justify-content: space-between;
        padding: 1rem 0 3rem 0;
    }
    .contact__map {
        width: 100%;
    }
    .contact__item {
        width: unset;   
    }
}

@media (max-width: 500px) {
    .contact__info {
        flex-direction: column;
        position: relative;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    .contact__item {
        width: 25rem;
        padding: 1rem 0;
    }
}

.footer {
    background-color: #333;
}

.footer__text {
    color: #acacac;
    font-size: 1.3rem;
    padding: 2rem 10%;
}

.footer__link {
    text-decoration: none;
    color: #acacac;
}

